.card {
  background-color: #d1d1d1;
  border: 1px solid rgb(29, 29, 41);
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.card h2 {
  font-size: 1.5rem;
}

.card button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border: 0;
  background: #93b5c6;
  color: white;
  border-radius: 8px;
}
